body {
	background-image: url("../assets/shattered.png");
}
input[type="text"] {
	font-size: 1.5em;
	height: 1.5em;
}
.remind-group {
	margin-top: .5em;
}
div.tiles {
	padding: 15px;
  padding-left: 50px;
	margin-bottom: 20px;
}

div.tile {
	width: 155px;
  height: 155px;
  margin: 8px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  -webkit-border-top-right-radius: 1.2em;
      -moz-border-radius-topright: 1.2em;
          border-top-right-radius: 1.2em;
}

.tip {
  position: absolute;
  bottom: 2px;
  left: 4px;
  color: white;
}

/**** Isotope CSS3 transitions ****/

.tiles,
.tiles .tile {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.tiles {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.tiles .tile {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

