<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Tile it... For later</title>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<script src="/socket.io/socket.io.js"></script>
</head>
<body ng-controller="urlCtrl">

<div class="row text-center header">
		<h1>Tile It... Later <br><small>A bookmarking site to remind</small></h1>
</div>

<div class="row text-center">

		<form action="" class="form-search">
			<input type="text"  name="url" size="40" class="url input-xlarge search-query" placeholder="example.com" ng-model="tile.url">

	 		<div class="remind-group">
		 		<span class="label label-inverse">Remind in</span>
		 		<div class="btn-rmd btn-group" data-toggle="buttons-radio">
					<button class="btn btn-primary" ng-click="setRmd(3600000)">1 Hour</button>
					<button class="btn btn-primary" ng-click="setRmd(86400000)">1 Day</button>
					<button class="btn btn-primary" ng-click="setRmd(604800000)">1 Week</button>
		 		</div>
	 		</div>
		</form>
</div>

<div class="row tiles clearfix">
	<a href="{{'http://' + tile.url}}" target=_blank class="span2 tile right-radi" ng-repeat="tile in master" ng-class="tile.cl" data-toggle="popover" data-content="Remind on: {{tile.remind | date:'medium'}}" ng-click="reset(tile.cl)">
		<div class="spin"></div>
		<img class='screenshot right-radi' height='155px' width='155px' src="" alt="">	
	</a>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="js/spin.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>