<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Tile it... For later</title>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect("http://localhost:3000");
	</script>
</head>
<body ng-controller="urlCtrl">

<div class="row">
	<div class='span4 offset5 text-center'>

		<form action="" class="form-search">

				<h3>Paste in a URL to tile</h3>

				<input type="text"  name="url" size="40" class="url input-xlarge search-query" placeholder="example.com" ng-model="tile.url">

		 		<div class="remind-group">
			 		<span class="label label-inverse">Remind in</span>
			 		<div class="btn-rmd btn-group" data-toggle="buttons-radio">
						<button class="btn btn-primary" ng-click="setRmd(3600000)">1 Hour</button>
						<button class="btn btn-primary" ng-click="setRmd(86400000)">1 Day</button>
						<button class="btn btn-primary" ng-click="setRmd(604800000)">1 Week</button>
			 		</div>
		 		</div>

		</form>
	</div>
</div>

<div class="row tiles clearfix">
	<div class="span2 tile" ng-repeat="tile in master" ng-class="tile.cl" >
			<span class="tip">Remind on: {{tile.remind | date:'medium'}}</span>
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>